@import "tailwindcss";
:root{
    --primary-color: #7367f0;
    --primary-color-light: #7367f0cc;
}
.bg-primary {
  @apply bg-[#7367f0];
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
